[Unit]
Description=Flask Application
After=network.target postgresql.service
[Service]
User=ec2-user
WorkingDirectory={{ app_dir }}/flask_app
Environment="PATH={{ app_dir }}/flask_app/venv/bin"
ExecStart={{ app_dir }}/flask_app/venv/bin/python app.py
Restart=always
[Install]
WantedBy=multi-user.target
